.messageHistory{
    max-height: 450px;
    overflow: auto;
}

.messageTo, .messageFrom{
    text-align: center;
}

td{
    max-width: 200px;
}

.textMutedFrom{
    position: absolute;
    bottom: 1px;
    left: 1px;
    font-size: 0.65em;
}

.textMutedTo{
    position: absolute;
    bottom: 1px;
    right: 1px;
    font-size: 0.65em;
}

table{
    border-collapse: separate;
    word-break: break-all;
}

.ajaxLoad {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 )
    url('https://i.stack.imgur.com/FhHRx.gif')
    50% 50%
    no-repeat;
}

body.loading .ajaxLoad {
    overflow: hidden;
}

body.loading .ajaxLoad {
    display: block;
}
