.container form {
    background: #f2f3f4;
    border-radius: 10px;
}

.text-muted{
    margin-left: 35px;
}

.remove-btn{
    margin-top: -65px;
}

.likeForm{
    background: #f2f3f4;
    border-radius: 10px;
}

.groupWallMessage{
    word-break: break-all;
}