html body {background-color: white}

.error{
    color: red;
    font-size: 0.8em;
}

.logout{
    color: lightseagreen;
    font-size: 0.8em;
}


form {position: absolute; top: 1%;left: 50%;padding-top: 10px;
    margin: 0 0 20px -200px;
    z-index: 9999;

    background-color: #F2F3F4; padding: 2.25em;  border: solid 1px #F2F3F4; border-radius: .5em; font-family: 'Source Sans Pro', sans-serif; }
form .svgContainer { width: 200px; height: 200px; margin: 0 auto 1em; border-radius: 50%; background: none; border: solid 2.5px #3A5E77; overflow: hidden; pointer-events: none; }

form .rememberMe { font-size: 1.25em; color: #000; }
form .reg a { font-size: 1.25em; color: #000; text-decoration: underline;}
form .inputGroup { margin: 0 0 .5em; padding: 0; position: relative; }
form .inputGroup:last-of-type { margin-bottom: 0; }
form label { margin: 0 0 12px; display: block; font-size: 1.25em; color: #000; font-weight: 700; font-family: inherit; }
form input[type='email'], form input[type="text"], form input[type='password'] { display: block; margin: 0; padding: 0 1em 0; background-color: #F2F3F4; border: solid 0.5px #000; border-radius: 4px; -webkit-appearance: none; box-sizing: border-box; width: 100%; height: 65px; font-size: 1.55em; color: #000; font-weight: 600; font-family: inherit; transition: box-shadow .2s linear, border-color .25s ease-out; }
form input[type='email']:focus, form input[type="text"]:focus, form input[type='password']:focus { outline: none; box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); border: solid 2px #FFF; }
form button { display: block; margin: 0; padding: .65em 1em 1em; background-color: #F2F3F4; border: 0.5px black solid;border-radius: 4px; box-sizing: border-box; box-shadow: none; width: 100%; height: 65px; font-size: 1.55em; color: #000; font-weight: 600; font-family: inherit; transition: background-color .2s ease-out; }
form button:hover, form button:active { background-color: #F2F3F4; color: #000; box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);  border: 1px white solid;}
form .inputGroup1 .helper { position: absolute; z-index: 1; font-family: inherit; }
form .inputGroup1 .helper1 { top: 0; left: 0; transform: translate(1.4em, 2.6em) scale(1); transform-origin: 0 0; color: #000000; font-size: 1.25em; font-weight: 400; opacity: .65; pointer-events: none; transition: transform .2s ease-out, opacity .2s linear; }
form .inputGroup1.focusWithText .helper { transform: translate(1.4em, 2em) scale(0.65); opacity: 1; }

