html body {
    background-color: white;
    font-family: 'Source Sans Pro', sans-serif;
}

.error{
    color: red;
    font-size: 0.8em;
}

#formContentOne, #formContentTwo {
    margin: 50px 10px 50px 10px;
    color: #000;
    background-color: #f2f3f4;
    border: solid 1px #fff;
    border-radius: .5em;
    padding: 2.25em;
}
#hrefLogin{
    color: black;
    text-decoration: underline;
}
.form-group label{
    font-size: 1.25em;
}

#inputFile1{
    position: relative;
    overflow: hidden;
    background: black;
}

form input[type='email'], form input[type="text"], form input[type='password'], form input[type='date'], #inputAdditionalInfo {
    padding: 0 1em 0;
    background-color: #f2f3f4; border: solid 0.5px #000000;
    border-radius: 4px; -webkit-appearance: none; box-sizing: border-box; font-size: 1.25em;
    width: 100%; color: #000;
}
form input[type='email']:focus, form input[type="text"]:focus, form input[type='password']:focus, form input[type='date']:focus, #inputAdditionalInfo:focus {
    outline: none; box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); border: solid 2px #fff; background-color: #f2f3f4; color: #000;}
#buttonFormOne, #buttonFormTwo { display: block; margin: 0; padding: .65em 1em 1em; background-color: #f2f3f4; border: none; border: 0.5px black solid;border-radius: 4px; box-sizing: border-box; box-shadow: none; width: 100%; height: 65px; font-size: 1.55em; color: #000; font-weight: 600; font-family: inherit; transition: background-color .2s ease-out; }
#buttonFormOne:hover, #buttonFormOne:active, #buttonFormTwo:hover, #buttonFormTwo:active { background-color: #f2f3f4; color: #000; box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1); border: 1px white solid;}
